@using LemondropsCafe.Data.Enum;
@model List<MenuItem>

@{
    ViewData["Title"] = "Our Menu";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <h2>@MenuSection.HotDrinks</h2>
            <ul class="list-group">
                @foreach (var menuItem in Model.Where(m => m.Section == MenuSection.HotDrinks))
                {
                    <li class="list-group-item">
                        @menuItem.Name - @menuItem.Price
                        <div>
                            <button class="btn btn-primary btn-sm"><i class="bi bi-plus"></i>Add</button>
                            <button class="btn btn-danger btn-sm"><i class="bi bi-dash"></i>Remove</button>
                        </div>
                    </li>
                    <hr /> <!-- Separator -->
                }
            </ul>
        </div>

        <div class="col-md-4">
            <h2>@MenuSection.Food</h2>
            <ul class="list-group">
                @foreach (var menuItem in Model.Where(m => m.Section == MenuSection.Food))
                {
                    <li class="list-group-item">
                        @menuItem.Name - @menuItem.Price
                        <div>
                            <button class="btn btn-primary btn-sm"><i class="bi bi-plus"></i>Add</button>
                            <button class="btn btn-danger btn-sm"><i class="bi bi-dash"></i>Remove</button>
                        </div>
                    </li>
                    <hr /> <!-- Separator -->
                }
            </ul>
        </div>

        <div class="col-md-4">
            <h2>@MenuSection.ColdDrinks</h2>
            <ul class="list-group">
                @foreach (var menuItem in Model.Where(m => m.Section == MenuSection.ColdDrinks))
                {
                    <li class="list-group-item">
                        @menuItem.Name - @menuItem.Price
                        <div>
                            <button class="btn btn-primary btn-sm"><i class="bi bi-plus"></i>Add</button>
                            <button class="btn btn-danger btn-sm"><i class="bi bi-dash"></i>Remove</button>
                        </div>
                    </li>
                    <hr /> <!-- Separator -->
                }
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <button class="btn btn-success"><i class="bi bi-cart-plus"></i> Add to Cart</button>
        </div>
    </div>
</div>
